
{% load static %}  <!-- Load the static template tag library -->
<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Little Lemon{% endblock %}</title>  <!-- Dynamic title block -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">  <!-- Link to CSS -->
</head>
<body>
    <!-- Login Section -->
    {%include 'partials/_header.html' %}
    {%include 'partials/_loginbar.html' %}

    <!-- Main Content Block -->
    <div class="content">
        
        {% block content %}  <!-- Block to be overridden in child templates -->

        {% endblock %}
    </div>

    {%include 'partials/_footer.html' %}
</body>
</html>
