<!-- menu.html -->
{% extends 'base.html' %}  <!-- Extend from base template -->

{% block title %}Menu{% endblock %}  <!-- Override the title block -->

{% block content %}  <!-- Override the content block with specific content -->
    <h1>Menu</h1>

    <!-- Display menu items in an unordered list -->
    {% if menu_items %}
        {% for item in menu_items %}  <!-- Loop over the menu items -->
            <img src="{{ item.image.url }}" alt="{{ item.name }}" style="width:100px; height:auto;">  <!-- Set image size -->

            {{ item.name }} - ${{ item.price }}  <!-- Display the name and price -->
            <p>{{ item.description }}</p>  <!-- Display the description -->
        {% endfor %}
    {%else%}
    No Menu to Display
    {%endif%}
{% endblock %}
