<!-- welcome.html -->
{% extends 'base.html' %}  <!-- Extends from the base template -->
{% block title %}Welcome to Our Restaurant{% endblock %}  <!-- Override the title block -->
{% load static %}

{% block content %}  <!-- Override the content block with specific content -->

    <!-- Centered Row with 3 Images and Text -->
    <div class="image-row">  <!-- Centered row of images -->
        <div class="image-container">
            <a href="{% url 'menu' %}">  <!-- Link to the 'menu' page -->
            <img src="{% static 'images/menu.jpg' %}" class="fixed-size-image" alt="View Menu" />
            <p>View Menu</p>
        </div>

        <div class="image-container">  <!-- Link to the 'book' page -->
            <a href="{% url 'book' %}">
            <img src="{% static 'images/reservation.jpg' %}" class="fixed-size-image" alt="Make Reservation" />
            <p>Make Reservation</p>
        </div>

        <div class="image-container">
            <a href="{% url 'about' %}">  <!-- Link to the 'about' page -->
            <img src="{% static 'images/about_us.jpg' %}" class="fixed-size-image" alt="About Us" />
            <p>About Us</p>
        </div>
    </div>
{% endblock %}  <!-- End of the content block -->
